<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1 class="header">Student Information</h1>
    <ul class="students">
      <% students.forEach(student => { %>
      <li class="list">
        Name: <%= student.name %>, surname: <%= student.surname %>, Age: <%=
        student.age %>
      </li>
      <% }); %>
    </ul>
    <div class="button-add">
      <a href="/addstudent"><button class="button">Add Student</button></a>
    </div>
  </body>
</html>
